.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  height: calc(100vh - var(--header-height));
  width: 300px;
  padding: 5px;
  position: sticky;
  top: var(--header-height);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* MAIN */
.main {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: var(--secondary-foreground-color);
}

.footer {
  height: var(--footer-height);
  color: var(--primary-text-color);
  background-color: var(--primary-foreground-color);
  display: flex;
  justify-content: center;
  align-items: center;
}