:root {
  --getting-started-height: 80px;
}

.container {
  height: calc(100vh - var(--header-height));
}

/* TOP */
.top {
  height: calc((100vh - var(--header-height) - var(--getting-started-height))/2);
  display: flex;
  align-items: center;
}

.banner {
  height: 280px;
  margin: 0 auto;
}

/* MIDDLE */
.middle {
  height: var(--getting-started-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.startBtn {
  padding: 20px;
  background-color: hsl(29, 80%, 56%);
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  transition: 0.5s;
}

.startBtn:hover {
  cursor: pointer;
  background-color: hsl(29, 80%, 46%);
}

/* BOTTOM */
.bottom {
  padding: 20px;
  height: calc((100vh - var(--header-height) - var(--getting-started-height))/2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.feature {
  padding: 0 20px;
  background-color: hsl(29, 80%, 76%);
  border-radius: 16px;
}

.feature h1 {
  text-align: center;
}

/* .feature p {
  font-size: 20px;
} */