.header {
  height: var(--header-height);
  background-color: var(--primary-foreground-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.header a {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-left: 12px;
}

.logo:hover {
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
}

.nav a {
  margin-right: 20px;
  font-size: 20px;
  color: var(--primary-text-color);
  font-weight: bold;
  text-decoration: none;
}

.nav a:hover {
  color: var(--primary-text-color);
  text-decoration: underline;
}

/* DARK MODE */
.mode {
  color: var(--primary-text-color);
  margin-right: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode:hover {
  cursor: pointer;
}

.moon {
  color: white;
}