.div {
  height: 200px;
  display: block;
}

/* .title {
  height: var(--header-height);
  margin-top: calc(var(--header-height) * -1)
} */

.anchorDiv {
  position: relative;
}

.anchor {
  position: absolute;
  left: 0px;
  top: -60px;
}